{% extends 'base.html.twig' %}

{% block cailloux %}
    <h1>Cailloux</h1>
    <a href="/faune"><button class="btn btn-primary">Faune</button></a>
    <a href="/flore"><button class="btn btn-primary">Flore</button></a>
{% endblock %}