{% extends 'base.html.twig' %}

{% block livre %}

{% for livre in livres %}
    <a href="/livre/consulter/{{ livre.getId() }}"> {{ livre.titre }}</a>
    <p>{{ livre.annee }}</p>
{% endfor %}

<a href="/livre/ajout">Ajouter un livre</a>
<br />
<a href="/auteur/ajout">Ajouter un auteur</a>
<br />
<a href="/auteur/">Liste des auteurs</a>




{% endblock %}